.titulo {
    text-align: center;

}



.logo {
    text-align: center;
    margin-top: 42px;
}

.logo img {
    width: 229px;


}

.profiles {
    text-align: center;
    margin: 0 auto;
    color: white;
    border-bottom: 20px;

}

.profiles img {
    width: 120px;
    margin-top: 14px;
    padding: 3px;
    border-radius: 19px;
    flex-wrap: wrap;
    display: block;
    margin-right: 19px;

}

.profiles img:hover {
    background-color: #e5e5e5;
    filter: brightness(2);
    transition-duration: 2000ms;
    background-size: 30%;


}

.gerenciar-perfil-button {
    text-align: center;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 550px;
    margin-right: 550px;
    padding: 18px;
    border: 1px solid white;
    color: white;
    text-decoration: none;



}

.gerenciar-perfil-button:hover {
    background-color: gray;
    color: white;
    text-decoration: none;
    transition-duration: 2000ms;
}

ul {
    display: flex;
    text-decoration: none;
    justify-content: center;
    list-style: none;
    color: #9C9C9C;

}

a {
    color: white
}

p {
    margin-right: 15px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}
